<h1 align='center'>Advanced objects and data structures</h1>

**Contents:**
- Numbers
- Strings
- Sets
- Dictionaries
- Lists

## Numbers

We will learn about representations of numbers in Python.

### Hexadecimal

Using the function <code>hex()</code> you can convert numbers into a [hexadecimal](https://en.wikipedia.org/wiki/Hexadecimal) format:

In [1]:
hex(246)

'0xf6'

In [2]:
hex(512)

'0x200'

### Binary

Using the function <code>bin()</code> you can convert numbers into their [binary](https://en.wikipedia.org/wiki/Binary_number) format.

In [3]:
bin(1234)

'0b10011010010'

In [4]:
bin(2)

'0b10'

### Exponentials
The function <code>pow()</code> takes two arguments, equivalent to ```x^y```.  With three arguments it is equivalent to ```(x^y)%z```, but may be more efficient for long integers.

In [5]:
pow(3,4)

81

In [6]:
pow(3,4,5)

1

### Absolute Value
- The function <code>abs()</code> returns the absolute value of a number. 
- The argument may be an integer or a floating point number. 
- If the argument is a complex number, its magnitude is returned.

In [7]:
abs(-3.14)

3.14

In [8]:
abs(1+2j)

2.23606797749979

### Round
The function <code>round()</code> will round a number to a given precision in decimal digits (default 0 digits). It does not convert integers to floats.

In [9]:
round(3,2)

3

In [10]:
round(395,-2)

400

In [11]:
round(3.1415926535,2)

3.14

## String

String objects have a variety of methods we can use to save time and add functionality.

### Changing case
We can use methods to capitalize the first word of a string, or change the case of the entire string.

In [12]:
s = 'hello world'

In [13]:
s.upper()

'HELLO WORLD'

In [14]:
s.lower()

'hello world'

Remember, strings are immutable. None of the above methods change the string in place, they only return modified copies of the original string.

To change a string requires reassignment:

In [17]:
s = s.upper()
s

'HELLO WORLD'

In [18]:
s = s.lower()
s

'hello world'

### Location and counting

- `find()`
- `count()`

**count**

Returns the number of occurrences, without overlap

In [23]:
s = 'aeiou'
s.count('o')

1

**find**

Returns the starting index position of the first occurence

In [24]:
s = 'aeioouuu'
s.find('o')

3

### Formatting

The <code>center()</code> method allows you to place your string 'centered' between a provided string with a certain length.

In [25]:
s.center(20,'z')

'zzzzzzaeioouuuzzzzzz'

### is check methods

- `isalnum()`
- `isalpha()`
- `islower()`
- `isspace()`
- `isupper()`
- `endswith()`
- `istitle()`

In [26]:
s = "Gugardo"

**isalnum()**

Will return True if all characters in **s** are alphanumeric

In [27]:
s.isalnum()

True

**isalpha()**

Will return True if all characters in **s** are alphabetic

In [28]:
s.isalpha()

True

**islower()**

Will return True if all cased characters in **s** are lowercase and there is
at least one cased character in **s**, False otherwise.

In [29]:
s.islower()

False

**isspace()** 

Will return True if all characters in **s** are whitespace.

In [30]:
s.isspace()

False

In [31]:
s = "   "

In [32]:
s.isspace()

True

**istitle()**

Will return True if **s** is a title cased string and there is at least one character in **s**, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. It returns False otherwise.

In [34]:
s = "Name"

s.istitle()

True

**isupper()** 

Will return True if all cased characters in **s** are uppercase and there is
at least one cased character in **s**, False otherwise.

In [35]:
s = 'hello'

s.isupper()

False

In [36]:
s = 'HELLO'

s.isupper()

True

**endswith()**

Which is essentially the same as a boolean check on <code>s[-1]</code>

In [37]:
s = 'hello'
s.endswith('o')

True

### Built in reg expressions

- Strings have some built-in methods that can resemble regular expression operations.
- We can use <code>split()</code> to split the string at a certain element and return a list of the results.
- We can use <code>partition()</code> to return a tuple that includes the first occurrence of the separator sandwiched between the first half and the end half.

**split()**

In [38]:
s = "Data Science,Machine Learning"

s.split(",")

['Data Science', 'Machine Learning']

**partition()**

In [39]:
s = "iamaboy"

s.partition('a')

('i', 'a', 'maboy')

## Sets

- `add(ele)`
- `clear()`
- `copy()`
- `difference()`
- `difference_update()`
- `discard()`
- `intersection()`
- `intersection_update()`
- `isdisjoint()`
- `issubset()`
- `issuperset()`
- `symmetric_difference()`
- `symmetric_update()`
- `union()`
- `update()`

In [43]:
s = set()
type(s)

set

### add

Add elements to a set. Remember, a set won't duplicate elements; it will only present them once (that's why it's called a set!)

In [45]:
s.add(1)

In [47]:
s.add(2)

s

{1, 2}

### clear

Remove all elements from the set

In [48]:
s.clear()

In [49]:
s

set()

### copy

Returns a copy of the set. Note it is a copy, so changes to the original don't effect the copy.

In [50]:
s = {1,2,3}
sc = s.copy()

In [51]:
sc

{1, 2, 3}

In [52]:
s

{1, 2, 3}

In [53]:
s.add(99)

s, sc

({1, 2, 3, 99}, {1, 2, 3})

`sc` did not change after modifying `s`

### difference

It returns the difference of two or more sets. The syntax is:

    set1.difference(set2)
For example:

In [54]:
s = {1, 2, 3, 99}
sc = {1, 2, 3, 100}

s.difference(sc)

{99}

### difference_update
difference_update syntax is:

    set1.difference_update(set2)
the method returns set1 after removing elements found in set2

In [55]:
s1 = {1,2,3}

s2 = {1,4,5}

s1.difference_update(s2)

In [56]:
s1

{2, 3}

### discard
Removes an element from a set if it is a member. If the element is not a member, do nothing.

In [57]:
s = {1, 2, 3, 4}

In [58]:
s.discard(2)

In [59]:
s

{1, 3, 4}

In [60]:
s.discard(100)

In [61]:
s

{1, 3, 4}

### intersection and intersection_update
Returns the intersection of two or more sets as a new set.(i.e. elements that are common to all of the sets.)

In [62]:
s1 = {1,2,3}

s2 =  {1,2,4}

s1.intersection(s2)

{1, 2}

`intersection_update` will update a set with the intersection of itself and another.

In [63]:
s1 = {1,2,3}

s2 =  {1,2,4}

s1.intersection_update(s2)

In [64]:
s1

{1, 2}

### isdisjoint
This method will return True if two sets have a null intersection.

In [65]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [66]:
s1.isdisjoint(s2)

False

In [67]:
s1.isdisjoint(s3)

True

### issubset
This method reports whether another set contains this set.

In [68]:
s1 = {1, 2, 3}
s2 = {1, 2}
s3 = {1, 2, 3, 4, 5}

In [70]:
s2.issubset(s1)

True

In [73]:
s3.issubset(s1)

False

### issuperset
This method will report whether this set contains another set.

In [74]:
s1 = {1, 2, 3}
s2 = {1, 2}
s3 = {1, 2, 3, 4, 5}

In [75]:
s3.issuperset(s2)

True

In [76]:
s1.issuperset(s2)

True

In [77]:
s2.issuperset(s1)

False

### symmetric_difference and symmetric_update
Return the symmetric difference of two sets as a new set.(i.e. all elements that are in exactly one of the sets.)

In [78]:
s1 = {1, 2, 3}
s2 = {1, 2}
s3 = {1, 2, 3, 4, 5}

In [79]:
s1.symmetric_difference(s2)

{3}

### union
Returns the union of two sets (i.e. all elements that are in either set.)

In [81]:
s1 = {1, 2, 3}
s2 = {1, 2}

In [80]:
s1.union(s2)

{1, 2, 3}

### update
Update a set with the union of itself and others.

In [82]:
s1.update(s2)

In [83]:
s1

{1, 2, 3}

## Dictionaries

### Dictionary comprehension

Just like List Comprehensions, Dictionary Data Types also support their own version of comprehension for quick creation. It is not as commonly used as List Comprehensions.

In [85]:
d = {x:x**2 for x in range(10)}

In [86]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

One of the reasons it is not as common is the difficulty in structuring key names that are not based off the values.

### Iteration over keys, values, and items
Dictionaries can be iterated over using the keys(), values() and items() methods. For example:

In [87]:
d = {'k1':1,'k2':2}

In [88]:
for k in d.keys():
    print(k)

k1
k2

In [89]:
for v in d.values():
    print(v)

1
2

In [90]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)

### Viewing keys, values and items
By themselves the keys(), values() and items() methods return a dictionary *view object*. This is not a separate list of items. Instead, the view is always tied to the original dictionary.

In [91]:
key_view = d.keys()

key_view

dict_keys(['k1', 'k2'])

In [92]:
d['k3'] = 3

d

{'k1': 1, 'k2': 2, 'k3': 3}

In [93]:
key_view

dict_keys(['k1', 'k2', 'k3'])

## Lists

- `append()`
- `count()`
- `extend()`
- `index()`
- `insert()`
- `pop()`
- `remove()`
- `reverse()`
- `sort()`

### append

Appends an element to the end of a list:

In [94]:
list1 = [1,2,3]

list1.append(4)

list1

[1, 2, 3, 4]

### count

It takes in an element and returns the number of times it occurs in a list

In [95]:
list1 = [1,2,3, 3, 4]

list1.count(3)

2

### extend

The difference between extend and append

**append: appends whole object at end:**

**extend: extends list by appending elements from the iterable:**

In [96]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [97]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

Note how <code>extend()</code> appends each element from the passed-in list. That is the key difference.

### index
<code>index()</code> will return the index of whatever element is placed as an argument. Note: If the the element is not in the list an error is raised.

In [98]:
list1.index(2)

1

In [99]:
list1.index(12)

ValueError: 12 is not in list

### insert 
<code>insert()</code> takes in two arguments: <code>insert(index,object)</code> This method places the object at the index supplied. 

For example:

In [100]:
list1 = [1, 2, 4]

In [101]:
list1.insert(1, 10)

In [102]:
list1

[1, 10, 2, 4]

### pop

It allows us to "pop" off the last element of a list. However, by passing an index position you can remove and return a specific element.

In [103]:
list1 = [1, 2, 4]

In [108]:
# pop the second element
ele = list1.pop(1)

In [109]:
ele

4

In [110]:
list1

[1]

### remove
The <code>remove()</code> method removes the first occurrence of a value. For example:

In [111]:
list1 = [1, 2, 3, 'ML', 'ML']

list1.remove('ML')

In [112]:
list1

[1, 2, 3, 'ML']

### reverse

Reverses a list. 

**Note** this occurs in place! Meaning it affects your list permanently.

In [113]:
list1 = [10, 9, 8, 7]

list1.reverse()

In [114]:
list1

[7, 8, 9, 10]

### sort
The <code>sort()</code> method will sort your list in place:

In [115]:
list1 = [10, 9, 8, 7]

list1.sort()

In [116]:
list1

[7, 8, 9, 10]

The <code>sort()</code> method takes an optional argument for reverse sorting. Note this is different than simply reversing the order of items.

In [117]:
list1.sort(reverse=True)

In [118]:
list1

[10, 9, 8, 7]

A common programming mistake is to assume you can assign a modified list to a new variable. While this typically works with immutable objects like strings and tuples:

In [119]:
x = 'hello world'

In [120]:
y = x.upper()

In [121]:
print(y)

HELLO WORLD

This will NOT work the same way with lists

In [122]:
x = [1,2,3]

In [123]:
y = x.append(4)

In [124]:
print(y)

None

What happened? In this case, since list methods like <code>append()</code> affect the list *in-place*, the operation returns a None value. This is what was passed to **y**. In order to retain **x** you would have to assign a *copy* of **x** to **y**, and then modify **y**:

In [125]:
x = [1,2,3]
y = x.copy()
y.append(4)

In [126]:
print(x)

[1, 2, 3]

In [127]:
print(y)

[1, 2, 3, 4]